# Database configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# Application settings
APP_PORT=8081
APP_ENV=development

# Goose configuration
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="user=postgres password=postgres dbname=postgres host=localhost port=5432 sslmode=disable"

# Other configurations
SECRET_KEY=
JWT_EXPIRATION=3600

